:root{
  --color-primary:#501794;
  --color-secondary:#030229;
  --layout-nav : 60px;
}

*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button{
  cursor: pointer;
}

body{
  font-family: "Poppins", serif;
}
